.title {
    transition: all 0.5s ease-in-out;
    transition-delay: 0s;
}

.title:hover {
    text-shadow: -5px -5px -5px var(--heliotrope_gray);
    text-decoration: underline solid 1px var(--space_cadet);
    text-underline-offset: 10px;
}